DB_URL=jdbc:mysql://localhost:3306/trustdesk
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
APP_SECURITY_USER_NAME=your_basic_auth_username
APP_SECURITY_USER_PASSWORD=your_basic_auth_password
